/* ........................COMMON CSS........................ */


/* ........................FONTS........................ /*


/* BD Console Variable */ @import url("https://use.typekit.net/rwu5qlp.css");
/* Blenny */ @import url("https://use.typekit.net/rwu5qlp.css");
/* Condor Extended */ @import url("https://use.typekit.net/rwu5qlp.css");
/* Madrone Std */ @import url("https://use.typekit.net/rwu5qlp.css");
/* TT Globs */ @import url("https://use.typekit.net/rwu5qlp.css");
/* Vortice */ @import url("https://use.typekit.net/rwu5qlp.css");
/* Karmina */ @import url("https://use.typekit.net/rwu5qlp.css");
/* IBM Plex Sans Arabic */ @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@700&display=swap');
/* OCR B Std Regular */ @import url("https://use.typekit.net/rwu5qlp.css");
/* ATF Franklin Gothic */ @import url("https://use.typekit.net/rwu5qlp.css");
/* EB Garamond */ @import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

/* Chomsky Blackletter */
@font-face {
    font-family: 'Chomsky';
    src: url('fonts/Chomsky.woff2') format('woff2'),
         url('fonts/Chomsky.woff') format('woff'),
}

/* Lyon Arabic Text - Regular */
@font-face {
    font-family: 'Lyon Arabic Text Web';
    src: url('LyonArabicText-Regular-Web.woff2') format('woff2'),
    url('LyonArabicText-Regular-Web.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    }

/* Lyon Arabic Slanted Text - Regular */
@font-face {
    font-family: 'Lyon Arabic Slanted Text Web';
    src: url('LyonArabicSlantedText-RegularNo2-Web.woff2') format('woff2'),
    url('LyonArabicSlantedText-RegularNo2-Web.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    }


/* ........................ROOT FONTS........................ */


:root{
    --font-lyon-text: 'Lyon Arabic Text';
    --font-lyon-slanted: 'Lyon Arabic Slanted Text';
    --font-ocrb: 'ocr-b-std';
}


/* ........................ROOT FONT SIZES........................ */


:root{
    --root-unit: 1rem;

    --comfort-font-size: calc(1.29 * var(--root-unit));
    --h1-font-size: calc(2 * var(--root-unit));
}


/* ........................ROOT SPACING........................ */


:root{
    --side-margin: calc(1.69 * var(--root-unit));
    --small-gap: calc(0.25 * var(--comfort-font-size));
    --medium-gap: calc(2 * var(--comfort-font-size));
    --big-gap: calc(3.5 * var(--medium-gap));
}


/* ........................ROOT COLOR........................ */


:root{
    --color-acid: rgb(66, 255, 119);
}


/* ........................HOME BUTTON........................ */


.home-button{
    font-family: 'bd-console-variable';
    font-variation-settings: 'GAME' 500;
    font-size: 44vw;
    color: var(--color-acid);
    background-color: black;
    height: 42vw;
    width: 50vw;
    margin-bottom: var(--big-gap);
    text-align: center;
}

.home-button:hover{
    border-style: solid;
    border-color: var(--color-acid);
    border-width: 2vw;
}