/* OCR B Std Regular */
@import url("https://use.typekit.net/rwu5qlp.css");

/* Lyon Arabic Text */
@font-face {
    font-family: 'Lyon Arabic Text Web';
    src: url('LyonArabicText-Regular-Web.woff2') format('woff2'),
         url('LyonArabicText-Regular-Web.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    }

    /* Lyon Arabic Slanted Text */
@font-face {
    font-family: 'Lyon Arabic Slanted Text Web';
    src: url('LyonArabicSlantedText-Bold-Web.woff2') format('woff2'),
         url('LyonArabicSlantedText-Bold-Web.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    }

    :root{
        --font-display: 'Lyon Arabic Text';
        --font-size: 15px;
    }

