/* Kulturista */
@import url("https://use.typekit.net/rwu5qlp.css");

/* Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

/* Roc Grotesk */
@import url("https://use.typekit.net/rwu5qlp.css");

/* IBM Plex Sans Arabic */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@700&display=swap');


:root{
    --font-display: 'kulturista';
    --font-size: 15px;
}

#latin-logotype-capital{
    visibility: hidden;
    font-size: 0.1px;
    position: absolute;
}

#letter-tile{
    visibility: hidden;
    font-size: 0.1px;
    position: absolute;
}

.reading-title-capital{
    visibility: hidden;
    font-size: 0.1px;
    position: absolute;
}

.author-name-capital{
    visibility: hidden;
    font-size: 0.1px;
    position: absolute;
}

#reading-title-inside-capital{
    visibility: hidden;
    font-size: 0.1px;
    position: absolute;
}

#author-name-inside-capital{
    visibility: hidden;
    font-size: 0.1px;
    position: absolute;
}



#black-circle{
    width: 251px;
    height: 251px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    margin-left: -80px;
    margin-top: -56px;
    position: relative;
    z-index: -1;
}

#latin-emblem{
    font-size: 42px;
    font-weight: 700;
    background-color: white;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-left: -161px;
    margin-top: 35px;
    position: absolute;
}

#latin-logotype{
    color: white;
    font-size: 20px;
    font-weight: 600;
    margin-top: -105px;
    margin-left: 10px;
    position: absolute;
}

#smaller-latin-logotype{
    font-family: 'kulturista';
    font-size: 16px;
    font-weight: 600;
}

#homepage-blockquote{
    font-family: 'inter';
    width: 260px;
    background-color: white;
    padding: 25px;
    margin-top: -70px;
    margin-left: 61px;
    margin-bottom: 30px;
}

#slash-symbol{
    font-family: 'kulturista';
    color: white;
    background-color: black;
    font-size: 40px;
    font-weight: 700;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
}

#hashtag-symbol{
    font-family: 'kulturista';
    color: white;
    background-color: black;
    font-size: 40px;
    font-weight: 700;
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 4px;
    padding-bottom: 4px;
}

#question-symbol{
    font-family: 'kulturista';
    color: white;
    background-color: black;
    font-size: 40px;
    font-weight: 700;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.reading-title{
    font-family: 'roc grotesk';
    font-size: 40px;
    line-height: 103%;
    text-decoration: underline;
    text-decoration-thickness: 1.3px;
    text-underline-offset: 3px;
    margin-top: 10px;
}

#reading-2{
    text-align: right;
    margin-top: 20px;
}

.author-name{
    font-family: 'inter';
    font-size: 15px;
    font-style: italic;
}

.white-circle{
    width: 251px;
    height: 251px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 100px;
    margin-top: -145px;
    margin-left: 200px;
    position: relative;
    overflow: hidden;
    z-index: -1;
}

.black-background{
    background-color: black;
    padding: 200px;
    padding-bottom: 115px;
    margin-top: -280px;
    z-index: -2;
    position: absolute;
    overflow: hidden;
}

#coming-soon{
    color: white;
    font-family: 'inter';
    padding-left: 9px;
    position: absolute;
    margin-top: -80px;
    font-style: italic;
}

#arabic-emblem{
    font-family: 'IBM Plex Sans Arabic';
    font-size: 41px;
    font-weight: 700;
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
}

#arabic-logotype{
    color: white;
    font-size: 20px;
    font-weight: 600;
    margin-left: 10px;
    margin-top: 7px;
}

#reading-title-inside{
    margin-top: 300px;
    font-family: 'roc grotesk';
    font-size: 30px;
    line-height: 103%;
    margin-bottom: 5px;
}

#reading-3-blockquote{
    margin-top: 69px;
    width: 319px;
    margin-left: 28px;
    font-style: italic;
    font-weight: 500;
    margin-bottom: 150px;
}


#contents-title{
    font-family: 'inter';
    font-size: 20px;
    font-weight: 700;
    color: white;
    background-color: black;
    width: 160px;
    padding: 20px;
    margin-bottom: -25px;
    margin-left: 14px;
}

#reading-3-chapters{
    font-family: 'inter';
    font-size: 17px;
    line-height: 28px;
    color: white;
    background-color: black;
    padding-left: 55px;
    padding-top: 70px;
    padding-bottom: 50px;
    text-decoration: underline;
    text-underline-offset: 3px;
    margin-bottom: -2px;
    list-style-type: decimal;
}

#appendix{
    font-family: 'inter';
    line-height: 25px;
    color: white;
    background-color: black;
    padding-left: 25px;
    padding-bottom: 55px;
}

.appendix-style{
    font-weight: 700;
    font-size: 12px;
}

.small-chapters{
    text-decoration: underline;
    text-underline-offset: 3px;
}

#black-circle-2{
    width: 251px;
    height: 251px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    z-index: -1;
    margin-top: -140px;
    margin-left: 200px;
    overflow: hidden;
}

/* please god... how do i make overflow hidden work */


.chapter-number-a{
    font-family: 'kulturista';
    font-size: 20px;
    font-weight: 700;
    margin-top: 100px;
    margin-bottom: 20px;
    margin-left: 28px;
}

h4{
    font-family: 'inter';
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 70px;
    margin-left: 28px;
}

p{
    font-family: 'inter';
    font-size: 15px;
    margin-left: 28px;
    width: 319px;
}

#typography-quote{
    font-weight: 600;
    width: 283px;
    font-size: 18px;
    line-height: 120%;
    margin-left: 3px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#example-1{
    font-family: 'Lyon Arabic Text';
    font-size: 76px;
    line-height: 87px;
    margin-bottom: 30px;
    margin-top: 30px;
}

#example-1-b{
    font-family: 'Lyon Arabic Slanted Text';
    font-size: 81px;
}

.example-title{
    margin-bottom: 20px;
}

.example-movement{
    font-size: 16px;
    font-weight: 800;
}

.example-date{
    font-family: 'kulturista';
    font-weight: 600;
    font-size: 14.5px;
}

#example-2{
    font-family: 'helvetica';
    font-size: 66.5px;
    line-height: 78px;
    margin-bottom: 30px;
    margin-top: 70px;
}

#example-2-b{
    font-style: italic;
}

/* <em> tags not working for some reason :( */

.chapter-number-b{
    font-family: 'kulturista';
    font-size: 17px;
    font-weight: 600;
    margin-top: -40px;
}

h5{
    margin-left: 28px;
    font-family: 'inter';
    font-weight: 600;
    font-size: 17px;
}

.chapter-number-c{
    font-family: 'kulturista';
    font-size: 14px;
    margin-top: 80px;
}

h6{
    margin-left: 28px;
    font-family: 'inter';
    font-size: 14px;
    margin-bottom: 50px;
}

/* not sure how or when all my <p>s got stuck together...
tried commenting out every piece of css but couldn't find the culprit */
