/* ........................"THE ELEMENTS OF TYPOGRAPHIC STYLE" CSS........................ /*


    #reading-title-inside{
        visibility: hidden;
        font-size: 0.1px;
        position: absolute;
    }

    #reading-title-inside-capital{
        font-family: 'ocr-b-std';
        font-size: 30px;
        margin-top: 100px;
        margin-left: 31px;
    }

    #author-name-inside-capital{
        font-family: 'ocr-b-std';
        font-size: 15px;
        margin-top: 5px;
        margin-left: 31px;
    }

    #reading-3-blockquote{
        font-family: 'Lyon Arabic Slanted Text';
        font-size: 19.2px;
        width: 319px;
        margin-top: 200px;
        margin-bottom: 80px;
        margin-left: 30px;
    }

    #contents-title{
        font-family: 'ocr-b-std';
        font-size: 20px;
        color: white;
        background-color: black;
        padding: 24px;
        margin-left: 0;
    }

    #reading-3-chapters{
        font-family: 'Lyon Arabic Slanted Text';
        font-weight: 700;
        font-size: 17px;
        line-height: 28px;
        background-color: rgb(66, 255, 119);
        padding-left: 55px;
        padding-top: 40px;
        padding-bottom: 35px;
        list-style-type: decimal;
    }

    #appendix{
        line-height: 20px;
        background-color: rgb(66, 255, 119);
        padding-left: 25px;
        padding-bottom: 55px;
    }

    .appendix-style{
        font-weight: 700;
        font-size: 12px;
    }

    .small-chapters{
        font-family: 'Lyon Arabic Slanted Text';
        font-size: 17px;
    }

    .chapter-number-a{
        font-family: 'Lyon Arabic Slanted Text';
        font-size: 26px;
        font-weight: 900;
        margin-top: 100px;
        margin-bottom: 20px;
        background-color: rgb(66, 255, 119);
        width: 30px;
        margin-left: 170px;
        padding-left: 3px;
        text-align: center;
    }

    h4{
        font-family: 'Lyon Arabic Slanted Text';
        font-weight: 900;
        font-size: 26px;
        margin-bottom: 30px;
        margin-top: -10px;
        text-align: center;
    }

    p{
        margin-left: 28px;
        width: 319px;
    }

    #typography-quote{
        font-family: 'Lyon Arabic Slanted Text';
        width: 320px;
        font-size: 18px;
        line-height: 120%;
        margin-left: 30px;
        margin-top: 35px;
        margin-bottom: 35px;
        background-color: rgb(66, 255, 119);
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 30px;
        padding-right: 30px;
    }

    #example-1{
        font-family: 'Lyon Arabic Text';
        font-size: 76px;
        line-height: 87px;
        margin-bottom: 30px;
        margin-top: 60px;
        text-align: center;
    }
    
    #example-1-b{
        font-family: 'Lyon Arabic Slanted Text';
        font-size: 81px;
    }
    
    .example-title{
        margin-bottom: 20px;
        font-family: 'ocr-b-std';
    }
    
    .example-movement{
        font-size: 16px;
        font-weight: 900;
    }
    
    .example-date{
        font-family: 'Lyon Arabic Text';
        font-weight: 600;
        font-size: 15px;
    }

    #example-2{
        font-family: 'helvetica';
        font-size: 66.5px;
        line-height: 78px;
        margin-bottom: 30px;
        margin-top: 70px;
        text-align: center;
    }
    
    #example-2-b{
        font-style: italic;
    }

    .chapter-number-b{
        font-size: 17px;
        font-weight: 600;
        margin-top: -10px;
        text-align: center;
    }
    
    h5{
        font-weight: 600;
        font-size: 17px;
        text-align: center;
    }
    
    .chapter-number-c{
        font-size: 14px;
        margin-top: 25px;
        text-align: center;
    }
    
    h6{
        font-size: 14px;
        margin-bottom: 50px;
        text-align: center;
    }