/* ........................"THE ELEMENTS OF TYPOGRAPHIC STYLE" CSS........................ */


body{
    font-family: var(--font-garamond);
}

h1{
    font-size: calc(1.8 * var(--comfort-font-size));
    font-weight: 700;
    margin-left: var(--side-margin);
    text-indent: var(--medium-gap);
    word-spacing: var(--small-gap);
}

#the{
    font-weight: 600;
}

#of{
    font-style: italic;
    font-size: calc(1.5 * var(--comfort-font-size));
}

#typographic{
    text-decoration: underline;
    text-decoration-color: var(--color-acid);
    text-decoration-thickness: calc(0.6 * var(--small-gap));
    text-underline-offset: var(--small-gap);
}

#author-name{
    font-family: var(--font-ocrb);
    font-size: var(--root-font-size);
    margin-top: calc(2 * var(--small-gap));
    margin-left: var(--side-margin);
    margin-bottom: var(--big-gap);
}

blockquote{
    font-style: italic;
    font-size: var(--comfort-font-size);
    margin-left: var(--side-margin);
    margin-right: var(--side-margin);
    margin-bottom: calc(1.5 * var(--medium-gap));
}

#contents-title{
    font-family: var(--font-ocrb);
    font-size: var(--comfort-font-size);
    color: white;
    background-color: black;
    padding-left: var(--side-margin);
    padding-top: var(--side-margin);
    padding-bottom: var(--side-margin);
}

#chapters{
    padding-left: calc(1.7 * var(--side-margin));
    list-style-type: decimal;
    background-color: var(--color-acid);
    padding-top: calc(1.5 * var(--side-margin));
    padding-bottom: calc(1.5 * var(--side-margin));
    line-height: calc(0.8 * var(--medium-gap));
}

.chapter-titles {
    font-style: italic;
    font-weight: 600;
    font-size: calc(1.15 * var(--root-unit));
    text-decoration: underline;
    text-decoration-thickness: calc(0.3 * var(--small-gap));
    text-underline-offset: calc(0.5 * var(--small-gap));
}

.chapter-titles:hover {
    text-decoration: none;
}

#appendix{
    background-color: var(--color-acid);
    padding-bottom: calc(1.5 * var(--side-margin));
    line-height: calc(0.7 * var(--medium-gap));
}

.appendix-word{
    font-weight: 700;
    font-size: calc(0.9 * var(--root-unit));
    padding-left: var(--side-margin);
    text-decoration: underline;
    text-decoration-thickness: calc(0.3 * var(--small-gap));
    text-underline-offset: calc(0.5 * var(--small-gap));
}

.appendix-word:hover {
    text-decoration: none;
}

.small-chapters{
    font-style: italic;
    font-size: calc(1.1 * var(--comfort-font-size));
    margin-left: var(--small-gap);
}

h2{
    font-style: italic;
    font-weight: 900;
    font-size: calc(1.5 * var(--comfort-font-size));
    text-align: center;
    margin-bottom: var(--medium-gap);
}

.chapter-numbers{
    font-style: italic;
    font-size: calc(1.5 * var(--comfort-font-size));
    font-weight: 700;
    background-color: var(--color-acid);
    margin-top: var(--big-gap);
    text-align: center;
    display: inline-block;
    padding-left: calc(0.5 * var(--medium-gap));
    padding-right: calc(0.5 * var(--medium-gap));
    padding-bottom: calc(0.3 * var(--medium-gap));
    padding-top: calc(0.3 * var(--medium-gap));
    margin-bottom: calc(2.5 * var(--small-gap));
    border-radius: 50%;
}

.main-text{
    font-size: var(--comfort-font-size);
    margin-left: var(--side-margin);
    padding-right: var(--side-margin);
    margin-bottom: calc(4 * var(--small-gap));
    -webkit-hyphens: manual;
    hyphens: manual;
}

#typography-quote{
    font-style: italic;
    margin-top: calc(1.5 * var(--medium-gap));
}

.example{
    font-size: calc(2 * var(--medium-gap));
    line-height: calc(2 * var(--small-gap));
    margin-bottom: var(--medium-gap);
    margin-top: var(--big-gap);
    line-height: calc(2.5 * var(--medium-gap));
    text-align: center;
}

.example-italic{
    font-style: italic
}
    
.example-title{
    margin-bottom: calc(0.5 * var(--medium-gap));
    font-family: var(--font-ocrb);
    margin-left: var(--side-margin);
    font-size: var(--root-unit);
}
    
.example-movement{
    font-weight: 900;
}
    
.example-date{
    font-family: var(--font-garamond);
    font-weight: 600;
    font-size: calc(1.1 * var(--root-unit));
}

.example-definition{
    font-size: var(--comfort-font-size);
    margin-left: var(--side-margin);
    margin-right: var(--side-margin);
}

#example-2{
    font-family: var(--font-helvetica);
    font-size: calc(1.7 * var(--medium-gap));
}

#example-3{
    font-family: 'Libre Bodoni';
    font-size: calc(1.8 * var(--medium-gap));
}

.example-container{
    position: relative;
}

.annotations{
    font-family: var(--font-helvetica);
    font-size: calc(2 * var(--comfort-font-size));
    position: absolute;
    color: var(--color-acid);
    mix-blend-mode: multiply;
    text-align: center;
}

#ex1-circle-1,
#ex1-circle-2,
#ex1-circle-3,
#ex1-circle-4,
#ex1-circle-5,
#ex1-backslash-1,
#ex1-backslash-2,
#ex1-backslash-3,
#ex1-backslash-4,
#ex1-backslash-5,
#ex1-backslash-6,
#ex1-backslash-7,
#ex1-slash,
#ex1-backslash-8 {
    position: absolute;
}

#ex1-circle-1 {
    top: 1.85rem;
    left: 4.6rem;
}

#ex1-circle-2 {
    top: -0.8rem;
    left: 6.35rem;
    font-size: calc(3 * var(--comfort-font-size));
}

#ex1-circle-3 {
    top: 4rem;
    left: 9.2rem;
    font-size: calc(3 * var(--comfort-font-size));
}

#ex1-circle-4 {
    top: 0.1rem;
    left: 13.6rem;
}

#ex1-circle-5 {
    top: 6.6rem;
    left: 14.2rem;
}

#ex1-backslash-1{
    top: 2.6rem;
    left: 8.1rem;
}

#ex1-backslash-2{
    top: 2.6rem;
    left: 10.8rem;
}

#ex1-backslash-3{
    top: 2.6rem;
    left: 14.8rem;
}











    /*
    #example-2-b{
        font-style: italic;
    }

    .chapter-number-b{
        font-size: 17px;
        font-weight: 600;
        margin-top: -10px;
        text-align: center;
    }
    
    h5{
        font-weight: 600;
        font-size: 17px;
        text-align: center;
    }
    
    .chapter-number-c{
        font-size: 14px;
        margin-top: 25px;
        text-align: center;
    }
    
    h6{
        font-size: 14px;
        margin-bottom: 50px;
        text-align: center;
    } 
    
    */