/* ........................"THE ELEMENTS OF TYPOGRAPHIC STYLE" CSS........................ */


h1{
    font-family: var(--font-lyon-text);
    font-size: calc(1.8 * var(--comfort-font-size));
    font-weight: 700;
    margin-left: var(--side-margin);
    text-indent: var(--medium-gap);
    word-spacing: var(--small-gap);
}

#the{
    font-size: calc(1.5 * var(--comfort-font-size));
}

#of{
    font-family: var(--font-lyon-slanted);
    font-size: calc(1.5 * var(--comfort-font-size));
}

#typographic{
    text-decoration: underline;
    text-decoration-color: var(--color-acid);
    text-decoration-thickness: calc(0.6 * var(--small-gap));
    text-underline-offset: var(--small-gap);
}

#author-name{
    font-family: var(--font-ocrb);
    font-size: var(--root-font-size);
    margin-top: calc(2 * var(--small-gap));
    margin-left: var(--side-margin);
    margin-bottom: var(--big-gap);
}

blockquote{
    font-family: var(--font-lyon-slanted);
    font-size: var(--comfort-font-size);
    margin-left: var(--side-margin);
    margin-right: var(--side-margin);
    margin-bottom: calc(1.5 * var(--medium-gap));
}

#contents-title{
    font-family: var(--font-ocrb);
    font-size: var(--comfort-font-size);
    color: white;
    background-color: black;
    padding-left: var(--side-margin);
    padding-top: var(--side-margin);
    padding-bottom: var(--side-margin);
}

#chapters{
    font-family: var(--font-lyon-slanted);
    font-weight: 600;
    font-size: calc(1.15 * var(--root-unit));
    padding-left: calc(1.7 * var(--side-margin));
    list-style-type: decimal;
    background-color: var(--color-acid);
    padding-top: calc(1.5 * var(--side-margin));
    padding-bottom: calc(1.5 * var(--side-margin));
    line-height: calc(0.8 * var(--medium-gap));
    text-decoration: underline;
    text-decoration-thickness: calc(0.3 * var(--small-gap));
    text-underline-offset: calc(0.5 * var(--small-gap));
}

#appendix{
    background-color: var(--color-acid);
    padding-bottom: calc(1.5 * var(--side-margin));
    line-height: calc(0.7 * var(--medium-gap));
}

.appendix-style{
    font-family: var(--font-lyon-text);
    font-weight: 700;
    font-size: calc(0.9 * var(--root-unit));
    padding-left: var(--side-margin);
    text-decoration: underline;
    text-decoration-thickness: calc(0.3 * var(--small-gap));
    text-underline-offset: calc(0.5 * var(--small-gap));
}

.small-chapters{
    font-family: var(--font-lyon-slanted);
    font-size: var(--comfort-font-size);
}

h2{
    font-family: var(--font-lyon-slanted);
    font-weight: 900;
    font-size: calc(1.5 * var(--comfort-font-size));
    text-align: center;
    margin-bottom: var(--medium-gap);
}

.chapter-numbers{
    font-family: var(--font-lyon-slanted);
    font-size: calc(1.5 * var(--comfort-font-size));
    font-weight: 700;
    background-color: var(--color-acid);
    margin-top: var(--big-gap);
    text-align: center;
    display: inline-block;
    padding-left: calc(0.5 * var(--medium-gap));
    padding-right: calc(0.5 * var(--medium-gap));
    padding-bottom: calc(0.3 * var(--medium-gap));
    padding-top: calc(0.3 * var(--medium-gap));
    margin-bottom: calc(2.5 * var(--small-gap));
    border-radius: 50%;
}

.main-text{
    font-family: var(--font-lyon-text);
    font-size: calc(0.9 * var(--comfort-font-size));
    margin-left: var(--side-margin);
    padding-right: var(--side-margin);
    margin-bottom: calc(4 * var(--small-gap));
}


    /* 

    #typography-quote{
        font-family: 'Lyon Arabic Slanted Text';
        width: 320px;
        font-size: 18px;
        line-height: 120%;
        margin-left: 30px;
        margin-top: 35px;
        margin-bottom: 35px;
        background-color: rgb(66, 255, 119);
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 30px;
        padding-right: 30px;
    }

    #example-1{
        font-family: 'Lyon Arabic Text';
        font-size: 76px;
        line-height: 87px;
        margin-bottom: 30px;
        margin-top: 60px;
        text-align: center;
    }
    
    #example-1-b{
        font-family: 'Lyon Arabic Slanted Text';
        font-size: 81px;
    }
    
    .example-title{
        margin-bottom: 20px;
        font-family: 'ocr-b-std';
    }
    
    .example-movement{
        font-size: 16px;
        font-weight: 900;
    }
    
    .example-date{
        font-family: 'Lyon Arabic Text';
        font-weight: 600;
        font-size: 15px;
    }

    #example-2{
        font-family: 'helvetica';
        font-size: 66.5px;
        line-height: 78px;
        margin-bottom: 30px;
        margin-top: 70px;
        text-align: center;
    }
    
    #example-2-b{
        font-style: italic;
    }

    .chapter-number-b{
        font-size: 17px;
        font-weight: 600;
        margin-top: -10px;
        text-align: center;
    }
    
    h5{
        font-weight: 600;
        font-size: 17px;
        text-align: center;
    }
    
    .chapter-number-c{
        font-size: 14px;
        margin-top: 25px;
        text-align: center;
    }
    
    h6{
        font-size: 14px;
        margin-bottom: 50px;
        text-align: center;
    } 
    
    */