/* ........................HOME CSS........................ */


#home-letter-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#home-letter-grid div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 42vw;
}

#T{
    font-family: 'bd-console-variable';
    font-variation-settings: 'GAME' 500;
    font-size: 44vw;
    color: var(--color-acid);
    background-color: black;
    padding-top: var(--root-unit);
}

#Y{
    font-family: 'blenny';
    font-size: 38.5vw;
    background-color: white;
}

#P{
    font-family: 'condor-extended';
    font-weight: 700;
    font-style: italic;
    font-size: 28.5vw;
    color: white;
    background-color: black;
    padding-top: calc(0.4 * var(--root-unit));
}

#E{
    font-family: 'madrone-std';
    font-weight: 400;
    font-style: normal;
    font-size: 27vw;
    padding-left: calc(1.35 * var(--medium-gap));
    background-color: var(--color-acid);
    padding-top: calc(0.4 * var(--root-unit));
    overflow: hidden;
}

#L{
    font-family: "tt-globs";
    font-weight: 200;
    font-style: normal;
    font-size: 35vw;
    color: var(--color-acid);
    background-color: white;
}

#a{
    font-family: 'karmina';
    font-weight: 700;
    font-size: 47vw;
    color: var(--color-acid);
    background-color: black;
    padding-bottom: calc(1.1 * var(--comfort-font-size));
}

#t{
    font-family: 'vortice-concept';
    font-size: 34vw;
    background-color: var(--color-acid);
    padding-top: calc(1.5 * var(--comfort-font-size));
    padding-right: calc(0.1 * var(--comfort-font-size));
}

#in{
    font-family: 'helvetica';
    font-size: 34.5vw;
    font-weight: bold;
    font-style: italic;
    background-color: white;
    padding-top: calc(0.7 * var(--root-unit));
    padding-right: calc(0.35 * var(--comfort-font-size));
}

#home-description{
    font-family: var(--font-lyon-slanted);
    font-size: var(--comfort-font-size);
    line-height: calc(1.5 * var(--comfort-font-size));
    color: white;
    background-color: black;
    padding-top: var(--medium-gap);
    padding-left: var(--side-margin);
    padding-bottom: var(--medium-gap);
}

#latin-logotype{
    font-family: var(--font-ocrb);
    font-size: var(--comfort-font-size);
}
    
a:hover{
    text-decoration: underline;
    text-underline-offset: calc(0.5 * var(--root-unit));
    text-decoration-thickness: calc(0.1 * var(--root-unit));
}
   
#readings{
    background-color: black;
    padding-top: var(--root-unit);
    padding-bottom: calc(3.5 * var(--medium-gap));
    padding-left: var(--side-margin);
}

.reading-titles{
    font-family: var(--font-ocrb);
    font-size: var(--h1-font-size);
    margin-top: calc(2 * var(--medium-gap));
    color: white;
}

.author-names{
    font-family: var(--font-ocrb);
    font-size: var(--root-font-size);
    margin-top: var(--small-gap);
    color: white;
}

.north-east-arrow{
    font-family: 'helvetica';
    font-size: calc(1.9 * var(--root-unit));
}

#coming-soon{
    font-family: var(--font-lyon-slanted);
    font-size: var(--comfort-font-size);
    margin-left: var(--side-margin);
    margin-bottom: var(--medium-gap);
}

#arabic-logotype{
    font-family: var(--font-ocrb);
    font-size: var(--comfort-font-size);
    margin-left: var(--side-margin);
}

#arabic-emblem{
    font-family: 'IBM Plex Sans Arabic';
    font-size: calc(2 * var(--comfort-font-size));
    color: var(--color-acid);
    background-color: black;
    padding-left: calc(0.5 * var(--side-margin));
    padding-right: calc(0.5 * var(--side-margin));
    padding-bottom: var(--small-gap);
    margin-left: var(--side-margin);
    margin-bottom: calc(2 * var(--small-gap));
    width: calc(3.15 * var(--comfort-font-size));
}

footer{
    background-color: var(--color-acid);
    padding-top: var(--medium-gap);
    padding-bottom: calc(0.4 * var(--medium-gap));
}