/* ........................HOME CSS........................ */
 
#home-letter-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#home-letter-grid div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 42vw;
}

#T{
    font-family: 'bd-console-variable';
    font-variation-settings: 'GAME' 500;
    font-size: 44vw;
    color: var(--color-acid);
    background-color: black;
    padding-top: var(--root-unit);
}

#T:hover{
    font-family: "turnip";
    font-weight: 700;
    font-size: 40vw;
    padding-bottom: 0.5rem;
}

#Y{
    font-family: 'blenny';
    font-size: 38.5vw;
    background-color: white;
}

#Y:hover{
    font-family: "DynaPuff";
    color: var(--color-acid);
}

#P{
    font-family: "Bagel Fat One";
    font-weight: 700;
    font-size: 40vw;
    color: var(--color-acid);
    background-color: black;
    padding-bottom: 1.4rem;
}

#P:hover{
    font-family: "Press Start 2P";
    font-style: normal;
    font-weight: 400;
    font-size: 32vw;
    padding-top: 2rem;
    padding-left: 0.5rem;
    color: white;
}

#E{
    font-family: 'Gravitas One';
    font-weight: 400;
    font-style: normal;
    font-size: 38vw;
    background-color: var(--color-acid);
    padding-left: 3.5rem;
    padding-top: 0.7rem;
    overflow: hidden;
}

#E:hover{
    font-family: "Modak";
    font-size: 45vw;
    padding-top: 1.5rem;
    padding-right: 1rem;
}

#L{
    font-family: "tt-globs";
    font-weight: 200;
    font-style: normal;
    font-size: 35vw;
    color: var(--color-acid);
    background-color: white;
}

#L:hover{
    font-family: "Comic Neue";
    font-weight: 500;
    font-size: 39vw;
    font-style: italic;
    color: black;
}

#a{
    font-family: 'karmina';
    font-weight: 700;
    font-size: 47vw;
    color: var(--color-acid);
    background-color: black;
    padding-bottom: calc(1.5 * var(--comfort-font-size));
}

#a:hover{
    font-family: "rooney-web";
    font-weight: 800;
    font-style: italic;
    font-size: 40vw;
}

#t{
    font-family: "gabriella";
    font-size: 35vw;
    background-color: var(--color-acid);
    padding-right: calc(0.1 * var(--comfort-font-size));
}

#t:hover{
    font-family: "hwt-tuscan-extended";
}

#in{
    font-family: var(--font-helvetica);
    font-size: 34.5vw;
    font-weight: bold;
    font-style: italic;
    background-color: white;
    padding-top: calc(0.7 * var(--root-unit));
}

#in:hover{
    font-family: "malaga-narrow";
    padding-left: 0.5rem;
    font-size: 35vw;
    color: var(--color-acid);
}

#home-description{
    font-family: var(--font-roboto-condensed);
    font-size: var(--comfort-font-size);
    line-height: calc(1.5 * var(--comfort-font-size));
    color: white;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    padding-top: var(--medium-gap);
    padding-left: var(--side-margin);
    padding-right: var(--side-margin);
    padding-bottom: var(--medium-gap);
}

#latin-logotype{
    font-family: var(--font-ocrb);
    font-size: var(--comfort-font-size);
    color: var(--color-acid);
}
   
#readings{
    background-color: black;
    padding-top: var(--root-unit);
    padding-bottom: var(--big-gap);
    padding-left: var(--side-margin);
}

.reading-titles{
    font-family: var(--font-ocrb);
    font-size: var(--h1-font-size);
    margin-top: calc(2 * var(--medium-gap));
    color: white;
}

.author-names{
    font-family: var(--font-ocrb);
    font-size: var(--root-font-size);
    margin-top: var(--small-gap);
    color: white;
}

.north-east-arrow{
    font-family: var(--font-avenir);
    font-weight: 900;
    font-size: calc(1.9 * var(--root-unit));
    color: var(--color-acid);
}

.reading-titles:hover .north-east-arrow{
    visibility: hidden;
}

#italics-link-hover:hover{
    color: var(--color-acid);
    font-style: italic;
}

#shape-link-hover:hover{
    color: black;
    background-color: var(--color-acid);
    display: inline-block;
}

#elements-link-hover:hover{
    text-decoration: underline;
    text-underline-offset: calc(0.5 * var(--root-unit));
    text-decoration-thickness: 0.5vw;
    text-decoration-color: var(--color-acid);
}

#coming-soon{
    font-family: var(--font-roboto-condensed);
    font-size: var(--comfort-font-size);
    font-style: italic;
    margin-left: var(--side-margin);
    margin-bottom: var(--medium-gap);
}

#arabic-logotype{
    font-family: var(--font-ocrb);
    font-size: var(--comfort-font-size);
    margin-left: var(--side-margin);
}

#arabic-emblem{
    font-family: 'IBM Plex Sans Arabic';
    font-size: calc(2 * var(--comfort-font-size));
    color: var(--color-acid);
    background-color: black;
    padding-left: calc(0.5 * var(--side-margin));
    padding-right: calc(0.5 * var(--side-margin));
    padding-bottom: var(--small-gap);
    margin-left: var(--side-margin);
    margin-bottom: calc(2 * var(--small-gap));
    width: calc(3.15 * var(--comfort-font-size));
}

footer{
    background-color: var(--color-acid);
    padding-top: var(--medium-gap);
    padding-bottom: calc(0.4 * var(--medium-gap));
}


@media screen and (min-width: 481px) {
    
#home-letter-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
    
#home-letter-grid div {
    height: 24vw;
}

#T{
    font-size: 25vw;
    padding-top: calc(0.3 * var(--medium-gap));
}

#T:hover{
    font-size: 22vw;
}

#Y{
    font-size: 22vw;
}

#P{
    font-size: 21vw;
    padding-top: calc(0.2 * var(--medium-gap));
}

#P:hover{
    font-size: 17vw;
    padding-top: 2.3rem;
}

#E{
    font-size: 21vw;
    padding-left: 2.5rem;
}

#E:hover{
    font-size: 25vw;
    padding-left: 3rem;
}

#L{
    font-size: 18.5vw;
}

#L:hover{
    font-size: 22vw;
}

#a{
    font-size: 25vw;
    padding-top: calc(0.35 * var(--medium-gap));
}

#a:hover{
    font-size: 20vw;
}

#t{
    font-size: 18vw;
    padding-top: 0.3rem;
}

#in{
    font-size: 18.5vw;
}

#in:hover{
    font-size: 20vw;
}
}

@media screen and (min-width: 769px) {

#home-description{
    font-size: calc(1.2 * var(--comfort-font-size));
    line-height: calc(1.6 * var(--comfort-font-size));
    padding-bottom: calc(1.5 * var(--medium-gap));
}
    
#latin-logotype,
#arabic-logotype,
#coming-soon{
    font-size: calc(1.2 * var(--comfort-font-size));
}
    
#readings{
    padding-top: calc(1.7 * var(--root-unit));
    padding-bottom: calc(1.5 * var(--big-gap));
}

.reading-titles{
    font-size: calc(1.35 * var(--h1-font-size));
    margin-top: calc(2.8 * var(--medium-gap));
}
    
.north-east-arrow{
    font-size: calc(1.3 * (1.9 * var(--root-unit)));
}

.author-names{
    font-size: var(--comfort-font-size);
}

#arabic-emblem{
    font-size: calc(1.3 * (2 * var(--comfort-font-size)));
    width: calc(4 * var(--comfort-font-size));
    padding-left: 1.1rem;
}
}

@media screen and (min-width: 1025px) {

#home-description{
    font-size: calc(1.5 * var(--comfort-font-size));
    line-height: calc(2.1 * var(--comfort-font-size));
    padding-bottom: calc(2 * var(--medium-gap));
}

#latin-logotype,
#arabic-logotype,
#coming-soon{
    font-size: calc(1.5 * var(--comfort-font-size));
}

#readings{
    padding-top: calc(2.2 * var(--root-unit));
    padding-bottom: calc(2 * var(--big-gap));
}
    
.reading-titles{
    font-size: calc(2 * var(--h1-font-size));
    margin-top: calc(3.8 * var(--medium-gap));
}

.north-east-arrow{
    font-size: calc(1.9 * (1.9 * var(--root-unit)));
}

.author-names{
    font-size: calc(1.5 * var(--comfort-font-size));
    padding-top: var(--small-gap);
}  

#arabic-emblem{
    font-size: calc(1.6 * (2 * var(--comfort-font-size)));
    width: calc(5 * var(--comfort-font-size));
    padding-left: 1.4rem;
    margin-bottom: 1rem;
}
}