/* ........................"ITALICS" CSS........................ */

h1{
    font-family: 'franklin gothic atf';
    font-weight: 900;
    font-style: italic;
    padding-left: calc(2 * var(--medium-gap));
    font-size: calc(2 * var(--h1-font-size));
    color: black;
    background-color: var(--color-acid);
}

#precise::before,
#precise::after {
	content: '';
	display: block;
	visibility: hidden;
}

#precise::before { margin-top: var(--inset-top); }
#precise::after { margin-bottom: var(--inset-bottom); }

#precise{
    --inset-top: -1.05rem;
	--inset-bottom: -1.05rem;

    display: flow-root;
	margin-left: var(--inset--left);
	margin-right: var(--inset--right);
	width: fit-content;
}

#author-name{
    font-family: var(--font-ocrb);
    font-size: var(--root-font-size);
    margin-top: calc(2 * var(--small-gap));
    margin-left: var(--side-margin);
    margin-bottom: calc(1.5 * var(--big-gap));
}

#start-quote {
    font-family: var(--font-roboto-condensed);
    font-weight: 500;
    font-style: italic;
    font-size: var(--comfort-font-size);
    position: relative;
    margin-left: calc(1.4 * var(--medium-gap));
    margin-bottom: var(--medium-gap);
    padding-left: calc(1.6 * var(--small-gap));
    margin-right: calc(1.4 * var(--medium-gap));
    width: fit-content;
}

#start-quote::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--color-acid);
    transform: skewX(-7deg);
    z-index: -1;
}

#friendly-advice{
    font-weight: 400;
    font-size: var(--root-unit);
    font-style: normal;
}

h2{
    font-family: var(--font-roboto-condensed);
    font-weight: 500;
    font-style: italic;
    font-size: var(--comfort-font-size);
    margin-left: var(--side-margin);
    margin-bottom: calc(4 * var(--small-gap));
    margin-top: calc(1.5 * var(--medium-gap));
    padding-right: calc(1.5 * var(--big-gap));
    rotate: -2deg;
    text-decoration: underline;
    text-decoration-color: var(--color-acid);
    text-decoration-thickness: calc(0.6 * var(--small-gap));
}

.main-text{
    font-family: var(--font-roboto);
    font-size: var(--root-unit);
    margin-left: var(--side-margin);
    margin-bottom: calc(4 * var(--small-gap));
    padding-right: var(--side-margin);
}

h3{
    font-family: var(--font-roboto-condensed);
    font-size: var(--comfort-font-size);
    font-weight: 500;
    font-style: italic;
    margin-left: var(--side-margin);
    margin-right: calc(2 * var(--big-gap));
    margin-bottom: calc(3 * var(--small-gap));
    margin-top: var(--medium-gap);
    color: var(--color-acid);
    background-color: black;
    width: fit-content;
    padding-left: var(--small-gap);
    padding-right: var(--small-gap);
    rotate: -2deg;
}