/* ........................"THE SHAPE OF WORDS" CSS........................ */

body{
    background-color: var(--color-acid);
    overflow-x: hidden;
}

#title {
    position: relative;
    background-color: white;
    margin-left: calc(0.68 * var(--medium-gap));
    margin-right: calc(0.68 * var(--medium-gap));
    margin-top: var(--big-gap);
    text-align: center;
    height: 56vw;
}

#title::before {
    content: '';
    position: absolute;
    top: -40vw;
    right: -56vw;
    width: 90vw;
    height: 90vw;
    background-color: black;
    border-radius: 50%;
    z-index: -1;
}

#author-name{
    font-family: var(--font-ocrb);
    font-size: var(--root-font-size);
    padding-top: calc(4 * var(--small-gap));
    padding-bottom: calc(2 * var(--small-gap));
}

h1{
    font-family: var(--font-avenir);
    font-size: calc(2 * var(--comfort-font-size));
    font-weight: 900;
    line-height: calc(0.9 * var(--medium-gap));
}

.letter-container{
    position: relative;
}

.title-circles{
    position: absolute;
    font-family: var(--font-helvetica);
}

#circle-A{
    right: 3.7rem;
    bottom: 0.8rem;
    font-size: calc(1.5 * var(--comfort-font-size));
}

#circle-P{
    right: 1.8rem;
    bottom: 1.1rem;
    font-size: calc(1.5 * var(--comfort-font-size));
}

#circle-O-1{
    right: 1.5rem;
    bottom: var(--root-unit);
    font-size: calc(2.7 * var(--comfort-font-size));
}

#circle-O-2{
    right: 5.1rem;
    bottom: var(--root-unit);
    font-size: calc(2.7 * var(--comfort-font-size));
}

#circle-R{
    right: 3.7rem;
    bottom: 1.3rem;
    font-size: calc(1.5 * var(--comfort-font-size));
}

#circle-D{
    right: 1.4rem;
    bottom: var(--root-unit);
    font-size: calc(2.7 * var(--comfort-font-size));
}

#intro{
    color: white;
    background-color: black;
    padding-top: calc(3 * var(--big-gap));
    margin-top: calc(-1.1 * var(--big-gap));
    position: relative;
    z-index: -1;
}

#intro-example{
    font-family: var(--font-helvetica);
    font-size: calc(0.4 * var(--big-gap));
    text-align: center;
    margin-left: -1.4rem;
    word-spacing: var(--small-gap);
    margin-top: calc(0.5 * var(--big-gap));
    padding-bottom: calc(1.8 * var(--big-gap));
    position: relative;
}

.slash-container{
    position: relative;
}

.add-ons{
    position: absolute;
}

#backslashes-1{
    left: -16.1rem;
    bottom: 4.15rem;
}

#backslashes-2{
    left: -16.1rem;
}

#dash-1{
    left: -12.26rem; 
    bottom: calc(0.1 * var(--small-gap));
}

#dash-2{
    left: -0.6rem;
    bottom: calc(0.1 * var(--small-gap));
}

.main-text{
    background-color: white;
    margin-top: calc(2 * var(--medium-gap));
    padding-bottom: calc(2.5 * var(--medium-gap));
    position: relative;
}

.text-separation{
    margin-bottom: var(--medium-gap);
}

h2{
    font-family: var(--font-lyon-slanted);
    font-size: calc(1.5 * var(--comfort-font-size));
    background-color: var(--color-acid);
    padding-bottom: var(--medium-gap);
    margin-bottom: calc(2 * var(--medium-gap));
    margin-left: -2vw;
    padding-left: 0.5rem;
    padding-top: 0.2rem;
    margin-right: -2vw;
}

.inline-highlight{
    font-size: calc(0.8 * var(--comfort-font-size));
    font-family: var(--font-avenir);
    font-weight: 600;
    font-style: normal;
    color: black;
    background-color: var(--color-acid);
}

#text-block-2{
    box-shadow: 2rem -2rem 0 0;
}

#logotype-examples{
    background-color: black;
    color: white;
    padding-top: var(--big-gap);
    padding-bottom: calc(1.9 * var(--big-gap));
    margin-top: calc(0.5 * var(--medium-gap));
    margin-bottom: -12rem;
    text-align: center;
    line-height: var(--big-gap);
}

#dano{
    font-family: 'Comic Neue', cursive;
    font-style: italic;
    font-weight: 700;
    font-size: calc(2.5 * var(--comfort-font-size));
    border-style: solid;
    padding: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-radius: 3rem;
    border-width: 0.25rem;
    position: relative;
}

#A-dash{
    position: absolute;
    left: 3.5rem;
    top: -1.9rem;
}

.toponomastica-both{
    font-family: var(--font-avenir);
    font-weight: 900;
    font-size: calc(2.8 * var(--comfort-font-size));
    letter-spacing: -0.4rem;
}

#toponomastica-outline{
    -webkit-text-stroke: 0.2rem white;
    color: black;
    position: relative;
}

#toponomastica-fill{
    color: black;
    right: 0rem;
    position: absolute;
}

#jazz{
    font-family: 'Nunito Sans';
    font-size: calc(0.9 * var(--big-gap));
    letter-spacing: -1.3rem;
    margin-left: -0.5rem;
}

#J-dash-1{
    position: absolute;
    bottom: 2.5rem;
    left: 0.465rem;
}

#J-dash-2{
    position: absolute;
    top: 3rem;
    left: 0.465rem;
}

#jazz-square{
    position: absolute;
    color: black;
    font-size: calc(2 * var(--big-gap));
    right: -7.4rem;
}

@media screen and (min-width: 481px) {

#author-name{
    font-size: calc(0.9 * var(--comfort-font-size));
    padding-top: calc(6 * var(--small-gap));
    padding-bottom: calc(3 * var(--small-gap));
}
    
h1{
    font-size: calc(2.8 * var(--comfort-font-size));
    line-height: calc(1.2 * var(--medium-gap));
}

#circle-A{
    right: 5rem;
    bottom: 1.2rem;
    font-size: calc(2 * var(--comfort-font-size));
}
    
#circle-P{
    right: 2.6rem;
    bottom: 1.8rem;
    font-size: calc(2 * var(--comfort-font-size));
}
    
#circle-O-1{
    right: 2.3rem;
    bottom: 1.3rem;
    font-size: calc(3.5 * var(--comfort-font-size));
}
    
#circle-O-2{
    right: 7.3rem;
    bottom: 1.3rem;
    font-size: calc(3.5 * var(--comfort-font-size));
}
    
#circle-R{
    right: 5.2rem;
    bottom: 1.6rem;
    font-size: calc(2 * var(--comfort-font-size));
}
    
#circle-D{
    right: 2rem;
    bottom: 1.3rem;
    font-size: calc(3.5 * var(--comfort-font-size));
}

h2{
    font-size: calc(1.7 * var(--comfort-font-size));
}

.inline-highlight{
    font-size: calc(0.95 * var(--comfort-font-size));
}

#logotype-examples{
    padding-top: 12rem;
    padding-bottom: 18rem;
    line-height: calc(1.2 * var(--big-gap));
}

#dano{
    font-size: calc(4.3 * var(--comfort-font-size));
    padding: 0.7rem;
    padding-left: 2.3rem;
    padding-right: 2.3rem;
    border-width: 0.35rem;
    border-radius: 5rem;
}

#A-dash{
    left: 5.75rem;
    top: -1.1rem;
}

.toponomastica-both{
    font-size: calc(3.6 * var(--comfort-font-size));
    letter-spacing: -0.5rem;
}

#toponomastica-outline{
    -webkit-text-stroke: 0.25rem white;
}

#jazz{
    font-size: calc(1.35 * var(--big-gap));
    letter-spacing: -1.8rem;
    margin-left: -1rem;
}

#J-dash-1{
    bottom: 5.2rem;
    left: 0.7rem;
}

#J-dash-2{
    top: 5.7rem;
    left: 0.7rem;
}

#jazz-square{
    font-size: calc(3 * var(--big-gap));
    right: -11.15rem;
}
}

@media screen and (min-width: 553px) {

#intro-example{
    font-size: calc(0.55 * var(--big-gap));
    word-spacing: calc(1.1 * var(--small-gap));
}

#backslashes-1{
    left: -21.6rem;
    bottom: 5.72rem;
}

#backslashes-2{
    left: -21.6rem;
}

#dash-1{
    left: -16.45rem; 
}

#dash-2{
    left: -0.88rem;
}
}

@media screen and (min-width: 684px) {

#title{
    max-width: 39.3rem;
    height: 25rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#author-name{
    font-size: calc(1.3 * var(--comfort-font-size));
    padding-top: calc(8 * var(--small-gap));
    padding-bottom: calc(4.5 * var(--small-gap));
}
        
h1{
    font-size: calc(4.2 * var(--comfort-font-size));
    line-height: calc(1.8 * var(--medium-gap));
}

#circle-A{
    right: 7.7rem;
    bottom: 1.7rem;
    font-size: calc(3 * var(--comfort-font-size));
}
    
#circle-P{
    right: 4rem;
    bottom: 2.5rem;
    font-size: calc(3 * var(--comfort-font-size));
}
    
#circle-O-1{
    right: 3.3rem;
    bottom: 1.8rem;
    font-size: calc(5.5 * var(--comfort-font-size));
}
    
#circle-O-2{
    right: 10.8rem;
    bottom: 1.8rem;
    font-size: calc(5.5 * var(--comfort-font-size));
}
    
#circle-R{
    right: 7.8rem;
    bottom: 2.4rem;
    font-size: calc(3 * var(--comfort-font-size));
}
    
#circle-D{
    right: 3.1rem;
    bottom: 1.8rem;
    font-size: calc(5.5 * var(--comfort-font-size));
}

h2{
    font-size: calc(1.9 * var(--comfort-font-size));
}

.inline-highlight{
    font-size: calc(1.1 * var(--comfort-font-size));
}

#logotype-examples{
    padding-top: 18rem;
    padding-bottom: 22rem;
    line-height: calc(1.5 * var(--big-gap));
}

#dano{
    font-size: calc(6.5 * var(--comfort-font-size));
    padding: 0.8rem;
    padding-left: 3rem;
    padding-right: 3rem;
    border-width: 0.5rem;
    border-radius: 10rem;
}

#A-dash{
    left: 8.3rem;
    top: -0.7rem;
}

.toponomastica-both{
    font-size: calc(5.2 * var(--comfort-font-size));
    letter-spacing: -0.75rem;
}

#toponomastica-outline{
    -webkit-text-stroke: 0.3rem white;
}

#jazz{
    font-size: calc(1.85 * var(--big-gap));
    letter-spacing: -2.5rem;
    margin-left: -2.5rem;
}

#J-dash-1{
    bottom: 7.75rem;
    left: 0.96rem;
}

#J-dash-2{
    top: 8.5rem;
    left: 0.96rem;
}

#jazz-square{
    font-size: calc(4 * var(--big-gap));
    right: -14.9rem;
}

}

@media screen and (min-width: 748px) {

#intro-example{
    font-size: calc(0.75 * var(--big-gap));
    word-spacing: calc(1.4 * var(--small-gap));
    max-width: 50rem;
    margin-left: auto;
    margin-right: auto;
    padding-right: 2.2rem;
}
    
#backslashes-1{
    left: -29.2rem;
    bottom: 7.81rem;
}
    
#backslashes-2{
    left: -29.2rem;
}
    
#dash-1{
    left: -22.3rem; 
}
    
#dash-2{
    left: -1.19rem;
}
}

@media screen and (min-width: 1100px) {

    .toponomastica-both{
        font-size: calc(6.2 * var(--comfort-font-size));
        letter-spacing: -0.9rem;
    }
    
    #toponomastica-outline{
        -webkit-text-stroke: 0.35rem white;
    }
}


