/* Welcome to my code! I am trying my best <3 */


/* ........................FONTS........................ /*


/* BD Console Variable */ @import url("https://use.typekit.net/rwu5qlp.css");
/* Blenny */ @import url("https://use.typekit.net/rwu5qlp.css");
/* Condor Extended */ @import url("https://use.typekit.net/rwu5qlp.css");
/* Madrone Std */ @import url("https://use.typekit.net/rwu5qlp.css");
/* TT Globs */ @import url("https://use.typekit.net/rwu5qlp.css");
/* Vortice */ @import url("https://use.typekit.net/rwu5qlp.css");
/* Karmina */ @import url("https://use.typekit.net/rwu5qlp.css");
/* IBM Plex Sans Arabic */ @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@700&display=swap');
/* OCR B Std Regular */ @import url("https://use.typekit.net/rwu5qlp.css");

/* Lyon Arabic Text */
@font-face {
    font-family: 'Lyon Arabic Text Web';
    src: url('LyonArabicText-Regular-Web.woff2') format('woff2'),
         url('LyonArabicText-Regular-Web.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    }

/* Lyon Arabic Slanted Text */
@font-face {
    font-family: 'Lyon Arabic Slanted Text Web';
    src: url('LyonArabicSlantedText-Bold-Web.woff2') format('woff2'),
         url('LyonArabicSlantedText-Bold-Web.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    }


/* ........................ROOT FONTS........................ */


:root{
    --font-lyon-text: 'Lyon Arabic Text';
    --font-lyon-slanted: 'Lyon Arabic Slanted Text';
    --font-ocrb: 'ocr-b-std';
}


/* ........................ROOT COLOR........................ */


:root{
    --color-acid: rgb(66, 255, 119);
}


/* ........................ROOT SPACING........................ */



#home-letter-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#home-letter-grid div {
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#T{
    font-family: 'bd-console-variable';
    font-variation-settings: 'GAME' 500;
    font-size: 10.5em;
    color: var(--color-acid);
    background-color: black;
    padding-top: 16px;
}

#Y{
    font-family: 'blenny';
    font-size: 9em;
    background-color: white;
}

#P{
    font-family: 'condor-extended';
    font-weight: 700;
    font-style: italic;
    font-size: 6.4em;
    color: white;
    background-color: black;
    padding-top: 3px;
}

#E{
    font-family: 'madrone-std';
    font-weight: 400;
    font-style: normal;
    font-size: 6.188em;
    background-color: var(--color-acid);
    padding-top: 8px;
}

#L{
    font-family: "tt-globs", serif;
    font-weight: 200;
    font-style: normal;
    font-size: 8.125em;
    color: var(--color-acid);
    background-color: white;
}

#a{
    font-family: 'karmina';
    font-weight: 700;
    font-size: 11.5em;
    color: var(--color-acid);
    background-color: black;
    padding-bottom: 27px;
}

#t{
    font-family: 'vortice-concept';
    font-size: 7.875em;
    background-color: var(--color-acid);
    padding-top: 30px;
    padding-right: 2px;
}

#in{
    font-family: 'helvetica';
    font-size: 8.125em;
    font-weight: bold;
    font-style: italic;
    background-color: white;
    padding-top: 12px;
    padding-right: 5px;
}

#home-description{
    font-size: 20px;
    line-height: 26px;
    color: white;
    background-color: black;
    padding-top: 42px;
    padding-left: 27px;
    padding-bottom: 42px;
}

#latin-logotype{
    font-family: var(--font-ocrb);
    font-size: 19px;
    margin-right: 32px;
}
    
a:hover{
    text-decoration: underline;
    text-underline-offset: 0.4rem;
    text-decoration-thickness: 0.07em;
}
    
.reading-titles{
    font-family: var(--font-ocrb);
    font-size: 30px;
    margin-top: 80px;
    color: white;
}

.author-names{
    font-family: var(--font-ocrb);
    font-size: 15px;
    margin-top: 5px;
    color: white;
}

#readings{
    background-color: black;
    padding-top: 15px;
    padding-bottom: 142px;
    padding-left: 27px;
}

#coming-soon{
    font-family: var(--font-lyon-slanted);
    font-size: 20px;
    margin-left: 27px;
    margin-bottom: 40px;
}

#arabic-logotype{
    font-family: var(--font-ocrb);
    font-size: 19px;
    margin-left: 27px;
    margin-top: 15px;
}

#arabic-emblem{
    font-family: 'IBM Plex Sans Arabic';
    font-size: 40px;
    color: var(--color-acid);
    background-color: black;
    padding-left: 13px;
    padding-right: 13px;
    padding-bottom: 5px;
    margin-left: 27px;
}

footer{
    background-color: var(--color-acid);
    padding-top: 38px;
    padding-bottom: 30px;
}





/* ........................THE ELEMENTS OF TYPOGRAPHIC STYLE........................ /*


    #reading-title-inside{
        visibility: hidden;
        font-size: 0.1px;
        position: absolute;
    }

    #reading-title-inside-capital{
        font-family: 'ocr-b-std';
        font-size: 30px;
        margin-top: 100px;
        margin-left: 31px;
    }

    #author-name-inside-capital{
        font-family: 'ocr-b-std';
        font-size: 15px;
        margin-top: 5px;
        margin-left: 31px;
    }

    #reading-3-blockquote{
        font-family: 'Lyon Arabic Slanted Text';
        font-size: 19.2px;
        width: 319px;
        margin-top: 200px;
        margin-bottom: 80px;
        margin-left: 30px;
    }

    #contents-title{
        font-family: 'ocr-b-std';
        font-size: 20px;
        color: white;
        background-color: black;
        padding: 24px;
        margin-left: 0;
    }

    #reading-3-chapters{
        font-family: 'Lyon Arabic Slanted Text';
        font-weight: 700;
        font-size: 17px;
        line-height: 28px;
        background-color: rgb(66, 255, 119);
        padding-left: 55px;
        padding-top: 40px;
        padding-bottom: 35px;
        list-style-type: decimal;
    }

    #appendix{
        line-height: 20px;
        background-color: rgb(66, 255, 119);
        padding-left: 25px;
        padding-bottom: 55px;
    }

    .appendix-style{
        font-weight: 700;
        font-size: 12px;
    }

    .small-chapters{
        font-family: 'Lyon Arabic Slanted Text';
        font-size: 17px;
    }

    .chapter-number-a{
        font-family: 'Lyon Arabic Slanted Text';
        font-size: 26px;
        font-weight: 900;
        margin-top: 100px;
        margin-bottom: 20px;
        background-color: rgb(66, 255, 119);
        width: 30px;
        margin-left: 170px;
        padding-left: 3px;
        text-align: center;
    }

    h4{
        font-family: 'Lyon Arabic Slanted Text';
        font-weight: 900;
        font-size: 26px;
        margin-bottom: 30px;
        margin-top: -10px;
        text-align: center;
    }

    p{
        margin-left: 28px;
        width: 319px;
    }

    #typography-quote{
        font-family: 'Lyon Arabic Slanted Text';
        width: 320px;
        font-size: 18px;
        line-height: 120%;
        margin-left: 30px;
        margin-top: 35px;
        margin-bottom: 35px;
        background-color: rgb(66, 255, 119);
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 30px;
        padding-right: 30px;
    }

    #example-1{
        font-family: 'Lyon Arabic Text';
        font-size: 76px;
        line-height: 87px;
        margin-bottom: 30px;
        margin-top: 60px;
        text-align: center;
    }
    
    #example-1-b{
        font-family: 'Lyon Arabic Slanted Text';
        font-size: 81px;
    }
    
    .example-title{
        margin-bottom: 20px;
        font-family: 'ocr-b-std';
    }
    
    .example-movement{
        font-size: 16px;
        font-weight: 900;
    }
    
    .example-date{
        font-family: 'Lyon Arabic Text';
        font-weight: 600;
        font-size: 15px;
    }

    #example-2{
        font-family: 'helvetica';
        font-size: 66.5px;
        line-height: 78px;
        margin-bottom: 30px;
        margin-top: 70px;
        text-align: center;
    }
    
    #example-2-b{
        font-style: italic;
    }

    .chapter-number-b{
        font-size: 17px;
        font-weight: 600;
        margin-top: -10px;
        text-align: center;
    }
    
    h5{
        font-weight: 600;
        font-size: 17px;
        text-align: center;
    }
    
    .chapter-number-c{
        font-size: 14px;
        margin-top: 25px;
        text-align: center;
    }
    
    h6{
        font-size: 14px;
        margin-bottom: 50px;
        text-align: center;
    }



